@font-face {
  font-family: "JosefinSlab-Regular";
  src: url("font/JosefinSlab-Regular.ttf") format("truetype");
}

body,
html {
  margin: 0;
  color: #0d0000;
  background-color: #d9d0d0;
  font-family: "JoseFinSlab-Regular";
}

:root {
  --primary-color: white;
  --secondary-color: #161616;
  --accent-color: #f76f6f8a;
  --text-color: #f76f6f8a;
  --faded-background: #161616f1;
  --sort-content: "";
}

[data-theme="Slytherin"] {
  --primary-color: #28592b;
  --secondary-color: #278c4b;
  --accent-color: #0d0d0d;
  --text-color: #0d0d0d;
  --faded-background: #224021ea;
  --crest-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/48b79ea6-d6ad-42d5-8a9d-b8fdbc2ac931/d4iijyj-de37e398-4cb2-43c0-9451-2f6b09e24047.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNDhiNzllYTYtZDZhZC00MmQ1LThhOWQtYjhmZGJjMmFjOTMxXC9kNGlpanlqLWRlMzdlMzk4LTRjYjItNDNjMC05NDUxLTJmNmIwOWUyNDA0Ny5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.UL1abSyBDyu9klNb1l6ks4zm1l5firF5IyJ_2xk8Fm4");
}

[data-theme="Hufflepuff"] {
  --primary-color: #f2cb05;
  --secondary-color: #bf913b;
  --accent-color: #d9b036;
  --text-color: #a67437;
  --faded-background: #a67437ea;
  --crest-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/48b79ea6-d6ad-42d5-8a9d-b8fdbc2ac931/d4iijz1-277c27b5-f5db-42e6-8d13-428c91ecd598.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNDhiNzllYTYtZDZhZC00MmQ1LThhOWQtYjhmZGJjMmFjOTMxXC9kNGlpanoxLTI3N2MyN2I1LWY1ZGItNDJlNi04ZDEzLTQyOGM5MWVjZDU5OC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.3g-9Uu0C6secRp1bj2-xu1Sk79hDoD3_pP_FMnVFoiA");
}

[data-theme="Ravenclaw"] {
  --primary-color: #bf8f73;
  --secondary-color: #049dbf;
  --accent-color: #04c4d9;
  --text-color: #0d0d0d;
  --faded-background: #593a2fea;
  --crest-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/48b79ea6-d6ad-42d5-8a9d-b8fdbc2ac931/d4iijzd-7c86d677-c1a4-4a5e-aae2-3ede759aa7e3.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNDhiNzllYTYtZDZhZC00MmQ1LThhOWQtYjhmZGJjMmFjOTMxXC9kNGlpanpkLTdjODZkNjc3LWMxYTQtNGE1ZS1hYWUyLTNlZGU3NTlhYTdlMy5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.m1GcIHCjN_EqYsJcGlwqgeByaM0xwqz-dxRlXC-WHTU");
}

[data-theme="Gryffindor"] {
  --primary-color: #bf7636;
  --secondary-color: #8c4a23;
  --accent-color: #d93636;
  --text-color: #0d0d0d;
  --faded-background: #a62929ea;
  --crest-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/48b79ea6-d6ad-42d5-8a9d-b8fdbc2ac931/d4iijzk-9fd11c8f-bc6e-4f57-a803-216cc7074cf0.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNDhiNzllYTYtZDZhZC00MmQ1LThhOWQtYjhmZGJjMmFjOTMxXC9kNGlpanprLTlmZDExYzhmLWJjNmUtNGY1Ny1hODAzLTIxNmNjNzA3NGNmMC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.Kl6wjROG_YoUUyQ9ucTHoAINOCD3Mg22q-hJbTYAx-U");
}

[data-sort]::after {
  content: var(--sort-content);
}

.wrapper {
  margin: 2em auto;
  width: 90vw;
}

.thumbnail {
  margin: 2em 0;
  width: 100%;
  height: 30vh;
  background-image: url("https://images.unsplash.com/photo-1598153346810-860daa814c4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2090&q=80");
  background-size: cover;
  background-position: center;
}

.heading {
  position: relative;
  top: 30%;
  margin: auto;
  padding: 0.5em 0;
  text-align: center;
  color: white;
  width: 100%;
  font-size: 3em;
}

.sort {
  width: 30%;
  border-radius: 5px;
}

.content-wrapper {
  padding: 1em;
  background-color: white;
}

.content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.student {
  position: relative;
  margin: 2em;
}

.name-fade {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease-in;
  background-color: #a6948af6;
  text-align: center;
  color: whitesmoke;
  border-radius: 30px;
}

.first-name {
  margin-top: 1.5em;
}

.student:hover .name-fade {
  cursor: pointer;
  opacity: 1;
}

.hide {
  display: none;
}

/* Navigation */
.navbar {
  margin: 1em 0;
  padding: 0.5em 0;
  overflow: visible;
  position: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  border-bottom: 1px solid #a6948a;
  background-color: white;
}

.navbar-list {
  width: 100%;
  display: flex;
  margin-top: 0;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.navbar-list li {
  margin: 0;
}

.navbar-list :nth-child(1) {
  margin-top: 0;
}

.nav-links {
  cursor: pointer;
  color: #260101;
}

.hide {
  display: none;
}

/* Modal */

.modal-background,
.confirmation-modal-background {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--faded-background);
}

.modal-content,
.confirmation-modal-content {
  position: relative;
  margin: 5em auto;
  padding: 0;
  width: 60%;
  max-height: 80%;
  background-color: var(--primary-color);
  padding: 2em 10%;
  overflow-y: hidden;
  border: 5px solid var(--secondary-color);
}

.confirmation-modal-content {
  width: 30%;
  height: 30%;
  text-align: center;
}

.close {
  grid-area: close;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--secondary-color);
}

.close > span {
  padding: 0;
  font-size: 20px;
  color: var(--accent-color);
}

.animationFadein {
  opacity: 0;
  animation: fadein 0.3s linear forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.animationFadeOut {
  opacity: 0;
  animation: fadeout 0.3s linear forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.modal-flex {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  height: 50vh;
}

.student-content {
  width: 100%;
  text-align: center;
  color: var(--text-color);
}

.student-content > .full-name {
  padding: 1em;
}

.student-content > .nick-name {
  font-family: "Lato", sans-serif;
}

.house-name {
  color: var(--text-color);
  text-align: center;
}

.student-img,
.img {
  width: 150px;
  height: auto;
}

.crest-img {
  height: 200px;
  width: 200px;
  background-image: var(--crest-image);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#expel,
.accept,
.decline {
  width: 80px;
  height: 30px;
  background-color: #a62929ea;
  color: white;
  border: 3px solid black;
  border-radius: 5px;
  transition: 0.3s ease-in;
}

.decline {
  background-color: #278c4bea;
  color: white;
  border: 3px solid black;
}

#expel:hover,
.accept:hover {
  cursor: pointer;
  background-color: white;
  border: 3px solid #a62929;
  color: #a62929;
}

.decline:hover {
  cursor: pointer;
  background-color: white;
  border: 3px solid #278c4b;
  color: #278c4b;
}
