.wrapper {
  padding: 2em 0;
}

.first-name,
.middle-name,
.last-name {
  color: aqua;
}

.nick-name {
  color: indianred;
}

.gender {
  color: pink;
}

.house {
  color: green;
}

.hide {
  display: none;
}
